body{
    background: url('/TP/tp1/exercice1/images/img1.jpg') ; 
}

form{
    display: grid;
    height: 50vh;
    justify-content: center;
    margin-top: 10%;  
}

.input{
    font-size: 2em; 
}
.input input{
    width: 100%;
    height: 35%; 
    border-radius: 30px;
    font-size: 90%;
    background: none;
    color: aliceblue;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -14%;
}
.btn input{
    background:none;
    width: 15vw;
    height: 5vh;
    border-radius: 30px;
    font-size: 1.5em;
    margin-top: 5%;
    color: white;
    font-weight: bold;
}
.resultat{
    color: aliceblue;
    width: 30vw;
    margin-left: 35%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    margin-top: -10%;
    box-shadow: 16px 16px 6px rgba(1, 78, 1, 0.719), -16px -16px 6px rgb(155, 2, 91);
}
span{
    color: aliceblue;
}
