body{
    padding: 0;
    margin: 0;
    background: url('/TP/tp1/exercice1/images/img1.jpg') ; 

}
/* .container{
    display: flex;
} */
form{
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.text textarea{
    border-radius: 10px;
    font-size: 2em;
    border: 2px solid blue;
    text-align: start;
}
.text .btn{
    width: 10vw;
    height: 5vh;
    margin-top: 5%;
    margin-left: 25%;
    font-size: 1.5em;
    border: 2px solid blue;
    border-radius: 10px;
}
p{
    font-size: 2em;
}