*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background: url('/TP/tp1/exercice1/images/img1.jpg') ; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 61vh;
    margin-top: 50%;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    
}
input{
    border-radius: 10px;
    width: 27vw;
   
    background: none;
    color: aqua;
    font-size: 2em;
}
span{
    margin: 1em;
    font-size: 1.3em;
    color: white;
}

